
body * {margin:0px;padding:0px;border:0px;}

body {
	color: #555;
	background-color: #CCC;
}
caption {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	padding: 1ex;
}
table {
	background-color: #F5F5F5;
	color: #222;
	font: message-box;
	width: 100%;
	border: 1px solid #222;
	border-spacing: 0px;
}
th {
	text-align: center;
	font-weight: bold;
	background-color: #CCC;
}
th + th, td + td { border-left: 1px solid #AAA; }
td               { border-top: 1px solid #AAA; vertical-align: top;  }
th, td           { padding: 3px;}
tr.reserved{background-color: #FFDDDD;}
tr.reservedtitle{background-color: #DDDDFF;}

/* 全体共通 */

ul.topmenu {list-style-type:none;}
ul.topmenu li {display:inline;}
ul.topmenu li:after { content: " | "; }

hr {border:1px solid;margin:5px 0px;}

/* foltia:放映予定 */

/* 新番組 */

/* 予約一覧 */

/* 番組一覧 */

/* 録画済一覧(録画順・タイトル順) */

/* 録画ライブラリ */

/* 詳細 */

/* 番組表 */

ul {list-style-type:none;}
li {width:90px;background:#ffa;padding:2px;border:1px solid white;line-height:1.1em;}
