body * {margin:0px;padding:0px;border:0px;}

body {
	color: #555;
	background-color: #CCC;
}
caption {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	padding: 1ex;
}
table {
	background-color: #F5F5F5;
	color: #222;
	font: message-box;
	width: 100%;
	border: 1px solid #222;
	border-spacing: 0px;
}
th {
	text-align: center;
	font-weight: bold;
	background-color: #CCC;
}
th + th, td + td { border-right: 1px solid #AAA; }
td               { vertical-align: top;  }
th, td           { border-right: 1px solid #AAA;border-bottom: 1px solid #AAA; padding: 3px;}
tr.reserved{background-color: #FFDDDD;}
tr.reservedtitle{background-color: #DDDDFF;}
tr.overwraped{background-color: #FF0000;}
tr.exoverwraped{background-color: #FF00FF;}

/* 全体共通 */

ul.topmenu {list-style-type:none;}
ul.topmenu li {display:inline;}
ul.topmenu li:after { content: " | "; }

hr {border:1px solid;margin:5px 0px;}

/* foltia:放映予定 */

/* 新番組 */

/* 予約一覧 */

/* 番組一覧 */

/* 録画済一覧(録画順・タイトル順) */

/* 録画ライブラリ */

/* 詳細 */

/* 番組表 */

ul {list-style-type:none;}
li {width:90px;background:#ffa;padding:2px;border:1px solid white;line-height:1.1em;}

td#anime {background:#FFC0CB;} /* アニメ・特撮 */
td#kids {background:#FFFFDC;} /* キッズ */
td#sports {background:#D7D7FF;} /* スポーツ */
td#etc {background:#F3F3F3;} /* その他 */
td#news {background:#E3C0FF;} /* ニュース・報道 */
td#cinema {background:#FAA5FF;} /* 映画 */
td#education{background-color:#C9C9C9;} /* 教育 */
td#documentary{background-color:#E8FFE8;} /* ドキュメンタリー・教養 */
td#music{background-color: #FFEAD5;} /* 音楽 */
td#variety{background-color: #E0F0CA;} /* バラエティ */
td#hobby{background-color: #FDF7BB;} /* 趣味・実用 */
td#information {background:#B6FFFA;} /* 情報 */
td#stage{background-color: #FFC0E3;} /* 演劇 */
td#drama {background:#FFD0FF;} /* ドラマ */

#information:hover, #hobby:hover, #education:hover, #music:hover, #stage:hover, #cinema:hover, #variety:hover, #news:hover, #drama:hover, #documentary:hover, #sports:hover, #kids:hover, #anime:hover, #etc:hover
 {
 	background-color: #FFFA4D;
	padding-right: 1px; padding-bottom:1px;
	border-right: 3px solid #aaa; border-bottom: 3px solid #666; 
 	cursor:pointer; 
 }
 
 
