BODY
{
 	font-family: "¥Ò¥é¥®¥Î³Ñ¥´ Pro W3"; 
	font-size: 13px;
	margin: 10; 
	background-color: #ffffff ;  
	line-height: 1.8em
}

img.photo {
    margin: 10px;
    border: 0;
}

a:link {
    color: #dd0000; text-decoration: none;
    background-color: transparent;
}

a:visited {
    color: #aa4444; text-decoration: none;
    background-color: transparent;
}

a:hover {
    text-decoration: underline; color:#ff2222 ;
    font-style: normal;
    background-color: transparent;
}

h1 {
    margin: 0em 0em 1em 0em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
    font-family: Times, Georgia, serif;
    font-size: 200%;
	font-weight: bolder;
	color: #00c;
	/*border-top: 2px dotted #00c;*/
	border-bottom: 2px dotted #aaa;
	/*background-color: #eef;*/
	/*text-decoration: underline;*/
}

h2 {
	padding-left: 0.5em;
	border-left: solid 5px #c00;
	border-bottom: solid 1px #c00;
	font-size: 1.5em;
	color: #000;
}

h3 {
	margin-top: 1.5em;
	padding-left: 0.3em;
	border-bottom: solid 1px #000;
	color: #22d;
}

h4 {
	margin-top: 1em;
	padding-left: 0.1em;
	border-bottom: dotted 1px #000;
}

div.menu {
    float: left;
    width: 200px;
	background-color: #ddd;
}

div.main {
    float: right;
    width: 580px;
    padding: 0em 10px 0em 10px;
    /*padding: 0em 1em 0em 1em;*/
	/*background-color: #ccc;*/
}

ol {
	margin: 0;
	padding :1em 0 1em 2em;
	border-top: 3px solid #aaa;
	border-bottom: 3px solid #aaa;
	/* margin: 0 1em;*/
}

ol li {
	/*margin: 0;
	padding: 0;*/
	font-size: 1em;
    line-height: 180%;
}

p {
    line-height: 120%;
}

div.command {
	margin: 1em 1.5em;
	padding : 0.7em 0.5em;
	font-weight: bolder;
	color: #fff;
	background-color: #000;
}
.sidebar 
{
    border: 2px black solid;
    background: rgb(230,230,235);
    padding: 0.12in;
    margin: 0 0.5in;
}
 .screen, .programlisting
{
    font-family: courier new,courier,fixed;
    font-style: normal;
    font-weight: normal;
}

.command {
	margin: 1em 1.5em;
	padding : 0.7em 0.5em;
	font-weight: bolder;
	color: #fff;
	background-color: #000;
}
